[Unit]
Description=Handle RPi initialization and configuration
After=network.target

[Service]
Restart=on-failure
User=root
Group=root
WorkingDirectory=/usr/core/bootstrapd
ExecStart=python3 bootstrapd.py

[Install]
WantedBy=multi-user.target
