[Unit]
Description=Handle RPi initialization and configuration
After=network.target

[Service]
ExecStart=/usr/bin/python3 /usr/core/bootstrapd/bootstrapd.py
Restart=on-failure
User=root
Group=root

[Install]
WantedBy=multi-user.target
